body{
    background-color: rgb(218, 211, 211);
    font-family: Arial, sans-serif;
}

h1{
    font-family: "Playwrite Magyarország", cursive;
    text-align: center;
    color: rgb(3, 1, 1);
}

img{
    align-items: center;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
p{

        text-align: center;
        color: rgb(3, 1, 1);
}

h2{
    text-align: center;
    color: rgb(3, 1, 1);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    display: block;
    margin: 0 auto 0 auto;
    font-size: 48px;
    color: rgb(3, 1, 1);

}
.header {
    text-align: center;
    margin-bottom: 20px;
}
